<%= form_for @deployment_configuration, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :tag_prefix, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag_prefix, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :deployment_profile_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :deployment_profile_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :git_repo_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :git_repo_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :git_org, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :git_org, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rightscale_array_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rightscale_array_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rightscale_account_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rightscale_account_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deployment_configurations_path, :class => 'btn' %>
  </div>
<% end %>
