<%= form_for(@deployment_configuration) do |f| %>
  <% if @deployment_configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deployment_configuration.errors.count, "error") %> prohibited this deployment_configuration from being saved:</h2>

      <ul>
      <% @deployment_configuration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tag_prefix %><br />
    <%= f.text_field :tag_prefix %>
  </div>
  <div class="field">
    <%= f.label :deployment_profile_id %><br />
    <%= f.text_field :deployment_profile_id %>
  </div>
  <div class="field">
    <%= f.label :git_repo_name %><br />
    <%= f.text_field :git_repo_name %>
  </div>
  <div class="field">
    <%= f.label :git_org %><br />
    <%= f.text_field :git_org %>
  </div>
  <div class="field">
    <%= f.label :rightscale_array_id %><br />
    <%= f.text_field :rightscale_array_id %>
  </div>
  <div class="field">
    <%= f.label :rightscale_account_id %><br />
    <%= f.text_field :rightscale_account_id %>
  </div>
  <div class="field">
    <%= f.select :notification_ids, Notification.all.collect {|x| [x.email, x.id]}, {}, :multiple => true %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.label Time.now.getutc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
