<h1>Deployment Portal</h1>
<%= link_to "Create a New Deployment", deployment_configurations_path %>
<%= link_to " (SageOneNa Deployment Procedure) ", "https://sage.wiki.best.adinternal.com/wiki/Tropos_Deployment_Procedure" %><br>
<%= link_to "Deployment List", deployments_path %><br>
<%= link_to 'New Email Address', new_notification_path %><br>
<%= link_to 'Email Address List', notifications_path %><br>
