<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @api_key.name %>
</p>

<p>
  <b>Api key:</b>
  <%= @api_key.api_key %>
</p>

<p>
  <b>Created at:</b>
  <%= @api_key.created_at %>
</p>


<%= link_to 'Edit', edit_api_key_path(@api_key) %> |
<%= link_to 'Back', api_keys_path %>
