
<%= form_for(@deployment) do |f| %>
  <% if @deployment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deployment.errors.count, "error") %> prohibited this deployment from being saved:</h2>

      <ul>
      <% @deployment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :deployment_profile_id %><br />
    <%= @deployment_profile_id  %>
    <%= f.hidden_field :deployment_configuration_id %>
  </div>
  <div class="field">
    <%= f.label :sha %><br />
    <%= f.text_field :sha %>
  </div>
  <div class="field">
    <%= f.label :created_at %><br />
    <%= f.label Time.now.getutc %>
    <%= f.hidden_field :created_at, :value => Time.now.getutc %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
