<%= form_for @deployment, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :sha, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :sha, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :tag, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :deployment_configuration_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :deployment_configuration_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :name, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :message, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :message, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                deployments_path, :class => 'btn' %>
  </div>
<% end %>
