<h1>Deployments</h1>

<table>
  <tr>
    <th>Deployment profile</th>
    <th>Sha</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @deployments.each do |deployment| %>
  <tr>
    <td><%= deployment.deployment_profile_id %></td>
    <td><%= deployment.sha %></td>
    <td><%= deployment.created_at %></td>
    <td><%= link_to 'Destroy', deployment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', "home/index" %>

<br />
