<p id="notice"><%= notice %></p>

<p>
  <b>Deployment profile:</b>
   @<%= @deployment_profile_id %>
</p>

<p>
  <b>Sha:</b>
  <%= @deployment.sha %>
</p>

<p>
  <b>Created at:</b>
  <%= @deployment.created_at %>
</p>

<p>
  <b>Tag:</b>
  <%= @deployment.tag %>
</p>

<%= link_to 'Deployments List', "/deployments" %>
<%= link_to 'Home', "/home/index" %>
